<h1>{{title}}</h1>
<form (ngSubmit)="onSubmit($event)" #customerForm="ngForm" novalidate>        
    <div class="form-group">
        <label for="firstName">Nombres</label>
        <input id="firstName" name="firstName" type="text" class="form-control" [(ngModel)]="customer.firstName" #firstName="ngModel" required />
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">El nombre del cliente es requerido.</div>
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input id="lastName" name="lastName" type="text" class="form-control" [(ngModel)]="customer.lastName" #lastName="ngModel" required />
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">El apellido del cliente es requerido.</div>
    </div>

    <div class="form-group">
        <label for="suffix">Apodo</label>
        <input id="suffix" name="suffix" type="text" class="form-control" [(ngModel)]="customer.suffix" #suffix="ngModel" />        
    </div>
    <div class="form-group">
        <label for="address">Dirección</label>
        <input id="address" name="address" type="text" class="form-control" [(ngModel)]="customer.address" #address="ngModel" required/>
        <div class="alert alert-danger" *ngIf="address.touched && !address.valid">La dirección del cliente es requerido.</div>
    </div>
    <div class="form-group">
        <label for="mobilPhone">Celular</label>
        <input id="mobilPhone" name="mobilPhone" type="text" class="form-control" [(ngModel)]="customer.mobilPhone" />
    </div>
    <div class="form-group">
        <label for="homePhone ">Telefono</label>
        <input id="homePhone" name="homePhone" type="text" class="form-control" [(ngModel)]="customer.homePhone" />
    </div>
    <div class="form-group">
        <label for="email ">Correo</label>
        <input id="email" name="email" type="text" class="form-control" [(ngModel)]="customer.email" />
    </div>
    <button  type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">Save</button>
    <!--<button class="btn btn-danger" type="button" *ngIf="customer.customerId" (click)="delete()">Delete</button>-->
    <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
    <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
</form>