<h2>
    Clientes
</h2>
<div class="col-lg-12">
<hr/>
</div>
<p>
    <a [routerLink]="['/customer/new']" class="btn btn-primary">Nuevo</a>
</p>
<!--<div class="well">
    <div class="form-group">
        <label for="search">Buscar</label>
        <input id="searchCustomer" name="searchCustomer" type="text" class="form-control" />

        <button class="btn btn-defaul" (click)="resetFilter()">Limpiar</button>
    </div>
</div>-->
<table class="table">
    <thead>
        <tr>           
            <th></th>
            <th>
                Cliente
            </th>
            <th>
                Dirección
            </th>
            <th>
                Celular
            </th>
            <th></th>
        <tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of queryResult.items">
            <td>{{ row.customerId }}</td>
            <td>{{ row.firstName }} {{ row.lastName }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.mobilPhone }}</td>
            <td>
                <a [routerLink]="['/customer', row.customerId]">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<pagination [total-items]="queryResult.itemCount" [page-size]="query.per_page" (page-changed)="onPageChange($event)"></pagination>