<h1>{{titleDesc}}</h1>
<form (ngSubmit)="onSubmit($event)" #rentalForm="ngForm" novalidate>

    <div class="form-group">
        <label for="customer">Cliente</label>
        <input id="customer" name="customer" type="text" class="form-control" [(ngModel)]="rental.customer.customer" disabled />
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <label for="address">Dirección</label>
                    <input id="address" name="address" type="text" class="form-control" [(ngModel)]="rental.customer.address" disabled />
                </div>
                <div class="col-lg-4">
                    <label for="mobilPhone">Phone</label>
                    <input id="mobilPhone" name="mobilPhone" type="text" class="form-control" [(ngModel)]="rental.customer.mobilPhone" disabled />
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <label for="title">Peliculas disponibles</label>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let movie of rental.movies">{{ movie.name }}</li>
            </ul>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <label for="total">Total</label>
                    <input id="total" name="total" type="text" class="form-control" [(ngModel)]="rental.total" disabled />
                </div>
                <div class="col-lg-4">
                    <label for="penality">Penalización</label>
                    <input id="penality" name="penality" type="text" class="form-control" [(ngModel)]="rental.penality" disabled />
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Retornar</button>
            <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>
</form>